<h2>User Details</h2>

<hr />
<div *ngIf="user">
  <div>
    <label><b>First Name: </b></label> {{user.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{user.lastName}}
  </div>
  <div>
    <label><b>Username: </b></label> {{user.username}}
  </div>
  <div>
    <label><b>Password: </b></label> {{user.password}}
  </div>
  <div>
    <label><b>User Role: </b></label> {{user.userRole}}
  </div>
  <div>
    <label><b>Email: </b></label> {{user.email}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to User List</button><br>