<h3>Update Author</h3>
<div style="width: 400px;">
      <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" required name="firstName">
            </div>

            <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" required name="lastName">
            </div>

            <div class="form-group">
                  <label for="biography">First Name</label>
                  <input type="text" class="form-control" id="biography" required name="biography">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
      </form>
</div>