<div class="panel panel-primary text-center mt-5">
  <div class="panel-heading">
    <h2>Book List</h2>
  </div>
  <div class="panel-body">
    <div
      style=" display: flex; flex-direction: row; justify-content: space-between; background-color: red; width: 100%; height: 20px;">
      <select [(ngModel)]="selectAuth">
        <option *ngFor="let auth of authors">{{auth.name}}</option>
      </select>
      <input #title>
      <input #publisher>
      <input #category>
      <input #stock>
      <button (click)="addBook(title.value,publisher.value,category.value,stock.value)">Add</button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Publisher</th>
          <th>Category</th>
          <th>stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">

          <td>{{book.title}}</td>
          <td>{{book.publisher}}</td>
          <td>{{book.category}}</td>
          <td>{{book.stock}}</td>
          <td>
            <button (click)="deleteBook(book.title)" class="btn btn-danger">
              Delete
            </button>
            <button (click)="updateBook(book.title,title.value,title.value,stock.value,publisher.value,category.value)"
              class="btn btn-info" style="margin-left: 10px;">
              Update
            </button>
            <button (click)="bookDetails(book.id)" class="btn btn-info" style="margin-left: 10px;">
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>