<h3>Add books</h3>
<div [hidden]="submitted" style="width: 400px">

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="book.title" name="title">
    </div>

    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" class="form-control" id="author" required [(ngModel)]="book.author" name="author">
    </div>

    <div class="form-group">
      <label for="name">Publisher</label>
      <input type="text" class="form-control" id="publisher" required [(ngModel)]="book.publisher" name="publisher">
    </div>

    <div class="form-group">
      <label for="name">Category</label>
      <input type="text" class="form-control" id="category" required [(ngModel)]="book.category" name="category">
    </div>

    <button type="submit" class="btn btn-outline-danger">Submit</button>
  </form>

</div>

<div [hidden]="!submitted">
  <h4>You added successfully!</h4>
</div>
