<h2>Author's Books</h2>

<hr />
<div *ngIf="author">
  <div>
    <label><b>First Name: </b></label> {{author.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{author.lastName}}
  </div>
  <div>
    <label><b>Biography: </b></label> {{author.biography}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>