<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="color: white; cursor: pointer;" (click)="home()" class="nav-link">Library<span
      class="sr-only">(current)</span></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/signin">Sign in/Sign up<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <!--    <form class="form-inline my-2 my-lg-0">-->
    <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--      <button class="btn  btn-outline-danger my-2 my-sm-0" type="submit">Search</button>-->
    <!--    </form>-->
  </div>
</nav>