<div class="jumbotron text-center mt-5">
  <h1 class="display-4">Hello, admin!</h1>
  <p class="lead">

  </p>
  <hr class="my-4" />
  <p>

  </p>
  <div class="row">
    <div *ngIf="!isAdmin" class="col-4">
      <a class="btn btn-primary btn-lg" (click)="myBooks()" role="button">MyBooks</a>
    </div>

    <div *ngIf="isAdmin" class="col-4">
      <a class="btn btn-primary btn-lg" href="/userlist" role="button">View users</a>
    </div>
    <div *ngIf="isAdmin" class="col-4">
      <a class="btn btn-primary btn-lg" href="booklist" role="button">View books</a>
    </div>
    <div *ngIf="isAdmin" class="col-4">
      <a class="btn btn-primary btn-lg" href="/authorlist" role="button">View authors</a>
    </div>
    <div *ngIf="!isAdmin" class="col-4">
      <a class="btn btn-primary btn-lg" href="/bookStore" role="button">BookStore</a>
    </div>

  </div>
</div>
=======
<div class="col-4">
  <a class="btn btn-primary btn-lg" href="/userlist" role="button">View users</a>
</div>
<div class="col-4">
  <a class="btn btn-primary btn-lg" href="booklist" role="button">View books</a>
</div>
<div class="col-4">
  <a class="btn btn-primary btn-lg" href="/authorlist" role="button">View authors</a>
</div>
</div>
</div>
>>>>>>> 873170fd8478ba719d668b10e8a3171e461bbd52