<div class="panel panel-primary text-center mt-5">
  <div class="panel-heading">
    <h2>Author List</h2>
  </div>
  <div class="panel-body">
    <div
      style=" display: flex; flex-direction: row; justify-content: space-around; background-color: red; width: 100%; height: 20px;">
      <input #name>
      <input #biography>
      <button (click)="addAuthor(name.value,biography.value)">Add</button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>AuthorName</th>
          <th>Biography</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors ">
          <td>{{author.name}}</td>
          <td>{{author.biography}}</td>
          <td><button (click)="deleteAuthor(author)" class="btn btn-danger">Delete</button>
            <button (click)="updateAuthor(author.name,name.value,biography.value)" class="btn btn-info"
              style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>