<h3>Update User</h3>

<div style="width: 400px;">
      <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" required [(ngModel)]="UpdateForm.firstName"
                        name="firstName">
            </div>

            <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" required [(ngModel)]="UpdateForm.lastName"
                        name="lastName">
            </div>

            <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" required [(ngModel)]="UpdateForm.username"
                        name="username">
            </div>

            <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" class="form-control" id="password" required [(ngModel)]="UpdateForm.password"
                        name="password">
            </div>

            <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" required [(ngModel)]="UpdateForm.email"
                        name="email">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
      </form>
</div>