<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up</p>

  <div *ngIf="!isValid">
    <h3 style="color: red">{{errorMessage}}</h3>
  </div>

  <div class="form-row mb-4">
    <div class="col">
      <input #firstName type ="text" class ="form-control " placeholder="First Name">
    </div>
  </div>

  <input #lastname type="text"  class="form-control mb-4" placeholder="Last Name">

  <input #username type="text"  class="form-control mb-4" placeholder="Username">

  <input #email type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

  <input #password type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

  <button (click) = "onClickRegister(firstName.value, lastname.value, username.value, email.value, password.value)" mdbBtn color="info" block="true" class="my-4" type="submit">Sign up</button>
  <hr>

</form>
<!-- Default form register -->
