  <form  class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in
      <div *ngIf="!isValid">
    <h3 style="color: red">{{errorMessage}}</h3>
      </div>

    <input #username
           name = "username"
           class="form-control mb-4 " placeholder="Username">

    <input #password
           name = "password"
           class="form-control mb-4" placeholder="Password">

    <button (click) = "onClickLogin(username.value, password.value)"  class="my-4" type="submit">Sign in</button>

    <p>Not a member?
      <a href="/register">Register</a>
    </p>

  </form>

