<div class="panel panel-primary text-center mt-5">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Password</th>
          <th>User Role</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td>{{user.userRole}}</td>
          <td>{{user.email}}</td>
          <td>
            <button (click)="deleteUser(user.username)" class="btn btn-danger">
              Delete
            </button>
            <button (click)="updateUser(user)" class="btn btn-info" style="margin-left: 10px;">
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>